/* Admin */

#admin-company-description {
    padding: 10px;
}

.admin-title-panel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#config-back {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
}
