/* Company */

#company-new {
    margin-top: 10px;
}






/* Config Company */

.logo-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.company-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#description-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#phone-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#web-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#facebook-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#twitter-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}