/* Standard CSS */

html {
    width: 100%;
    height: auto;
}

body {
    height: auto;
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
    font-family: "Verdana", "arial", "helvetica", sans-serif;
    font-size: 14px;
    text-align: center;
}

a:link {
    color: #5a6635;
    text-decoration: none;
}

a:visited {
    color: #5a6635;
    text-decoration: none;
}

a:hover {
    color: #2b351c;
}



/* Primary Content Containers */

#fw-container {
    width: 100%;
    background-color: #BAB1A1;
    text-align: left;
}

#fw-header {
    position: relative;
    height: 50px;
    width: 100%;
    background: #BAB1A1 url("images/background.jpg") repeat-x;
    color: #fff;
    font-size: 30px;
}

#fw-intro {
    position: relative;
    height: 57px;
    width: 100%;
    background: #BAB1A1 url("images/background.jpg") repeat-x;
    color: #fff;
    font-size: 30px;
    z-index: 1;
}

#fw-content {
    background: #BAB1A1 url("images/background.jpg") repeat;
    width: 100%;
}


#fw-trailer {
    height: 50px;
    width: 100%;
    background: #9cbdd8 url("images/background.jpg") repeat-x;
}

#fw-intro-wrapper { 
    position: relative;
    max-width: 1366px;
    height: 57px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

#fw-content-wrapper {
    width: 100%;
    padding-top: 10px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

#fw-copyright {
    position: relative;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    color: #fff;
    margin-left: 8px;
}

#fw-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 216px;
    height: 54px;    
    background: #fff;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-align: right;  
    background-image: url("images/watch.png");
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-position: 8px 2px;
}

#fw-logo-title {
    margin-top: 13px;
}

#fw-navigation {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1366px;    
    height: 57px;
    margin-left: auto;
    margin-right: auto;    
    background-color: transparent;
    z-index: 2;
}

#fw-navigation-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 57px;
    background-color: transparent;
}

#fw-content-body {
    background-color: #BAB1A1;
    width: 100%;
}





/* Generic */

.valid-input {
    border: 2px solid #a4c9eb;
    border-radius: 5px;
}

.invalid-input {
    border: 2px solid #be4a44;
    border-radius: 5px;
}

.label {
    font-weight: bold;
}

.required-note {
    color: #9e9e9e;
    font-size: 11px;
    margin-left: 10px;
}

.form-content {
    padding: 20px;
    position: relative;
    background-color: #fff;
}

#button-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#messages {
    width: 100%;
}

#messages-container {
    padding-left: 10px;
    padding-right: 10px;
}

#messages span.ui-messages-info-icon {
    background-image: none !important;
    width: 0px !important;
}

#messages span.ui-messages-error-icon {
    background-image: none !important;
    width: 0px !important;
}

#messages span.ui-messages-info-summary {
    margin-left: 0px !important;
    white-space: normal;
}

#messages span.ui-messages-error-summary {
    margin-left: 0px !important;
    white-space: normal;
}

#messages ul {
    margin-left: 5px !important;
}

