/* Home */

.login-table td {
    padding: 3px;
}

.login-label {
    text-align: right;
    display: inline-block;
    width: 80px;
}

#apple-app-container {
    margin-left: 10px;
    margin-top: 25px;
}

#android-app-container {
    margin-left: 10px;
    margin-top: 5px;
}