/* Navigation */

.navigation-content {
    border: none;
    background-color: #D4CEC4;
    height: 57px;
    z-index: 4;
}

.navigation-content .ui-widget-header {
    height: 57px;   
    background: none;
    background-color: #D4CEC4;
}


.navigation-content .ui-widget-content {
    height: 57px;   
    border: none;
}

.navigation-content .ui-tabmenu-nav {
    padding: 0px !important;
}

.navigation-content .ui-tabmenuitem {
    margin-top: 10px !important;
    background: none;
    background-color: #D4CEC4;
    border: none !important;
    box-shadow: none;
}

.navigation-menuitem-dropdown {
    font-size: 12px;
    white-space: nowrap;
    background-color: #f0f0f0 !important;
    padding: 0px !important;
}

.navigation-menuitem-dropdown div {
    max-height: 189px;
    background-color: #f0f0f0;
}

.navigation-menuitem-dropdown ul {
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation-menuitem-dropdown ul li {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;    
    border: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navigation-menuitem-dropdown ul a {
    font-size: 14px;
    display: block;
    padding-left: 5px;
    line-height: 15px;
    color: #000000;
}
.navigation-menuitem-dropdown ul a:hover {
    background: #c3d2db;
    text-decoration: none;
    color: #000000;    
}