/* Report */

#report-div {
    position: relative;
    height: 500px;
    border: 1px solid #ddd;
}

#report-display-div {
    position: relative;
    height: 1000px;
    border: 1px solid #ddd;
}

.reports-dropdown {
    margin-bottom: 5px;
}