/* Settings */

.settings-title-panel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}






/* Change Password */

#change-password-username-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.username-existing {
    margin-left: 10px;
}

#password-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#new-password-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#confirm-new-password-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#change-password-panel-buttons-cancel {
    clear: left;
    float: left;
}

#change-password-panel-buttons-save {
    margin-left: 5px;
    float: left;
}

.change-password-clear {
    clear: left;
    padding-top: 10px;
}