/* Store */

.store-details-panel {
    clear: both;
    padding: 10px !important;
}

.store-details-panel .ui-widget-header{
    text-align: center;
}

#store-details-info {
    padding-bottom: 10px;
}

#store-details-manager-status {
    max-width: 330px;
}

#store-details-unresolved-flares {
    margin-top: 20px;
}

#store-details-resolved-flares {
    margin-top: 20px;
}

#store-new, #store-bulk {
    margin-top: 10px;
}

.store-details-back {
    position: relative;
    clear: both;
    float: right;
    margin-bottom: 10px;
    font-size: 16px !important;
}





/* Config Store */

.address-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#city-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#state-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#country-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#postal-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#phone-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#latitude-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#longitude-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.file-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.file-value {
    margin-top: 10px;
    margin-bottom: 10px;
}

