/* User */

#user-new {
    margin-top: 10px;
}






/* Config User */

#username-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.username-existing {
    margin-left: 10px;
}

.password-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.password-confirm-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#first-name-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#last-name-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#email-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.role-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.company-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.store-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

