<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      >
    <h:head>
        <title><ui:insert name="contentTitle"/></title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <h:outputStylesheet name="global.css" library="css" />        
        <h:outputStylesheet name="error.css" library="css" />
        <script type="text/javascript">
            $ = jQuery;
        </script>
    </h:head>

    <h:body>
        <div id="wrapper" class="wrapper">
            <p:panel styleClass="error-content-panel" id="content">
                <ui:insert name="content" />
            </p:panel>
            <div style="clear:both;"></div>
        </div>        
    </h:body>
</html>
