<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>FloorWatch</title>
        <h:outputStylesheet name="error.css" library="css" />
        <h:outputStylesheet name="global.css" library="css" />
        <h:outputStylesheet name="navigation.css" library="css" />
        <h:outputStylesheet name="home.css" library="css" />
        <h:outputStylesheet name="admin.css" library="css" />
        <h:outputStylesheet name="company.css" library="css" />
        <h:outputStylesheet name="store.css" library="css" />
        <h:outputStylesheet name="user.css" library="css" />
        <h:outputStylesheet name="report.css" library="css" />
        <h:outputStylesheet name="settings.css" library="css" />        
        <h:outputStylesheet name="iosCheckbox.css" library="css" />
        <h:outputStylesheet name="jsreports.min.css" library="css" />
        <h:outputStylesheet name="jquery.qtip.min.css" library="css" />
        <h:outputScript name="jquery/jquery.js" library="primefaces" />
        <script type="text/javascript">
            $ = jQuery;
        </script>
        <h:outputScript name="iosCheckbox.js" library="scripts" />
        <h:outputScript name="jsreports.min.js" library="scripts" />
        <h:outputScript name="ResizeSensor.js" library="scripts" />
        <h:outputScript name="jquery.qtip.min.js" library="scripts" />
    </h:head>
    <h:body>
        <div id="fw-container">
            <div id="fw-header"></div>
            <div id="fw-intro">
                <div id="fw-intro-wrapper">
                    <div id="fw-logo">
                        <div id="fw-logo-title">
                            Floorwatch
                        </div>
                        <div style="clear:both;"></div>	
                    </div>
                    <div style="clear:both;"></div>	
                </div>
            </div>
            
            
            <ui:insert name="content" />                
            
            <div id="fw-trailer"></div>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            
            //Initial load of page
            $(document).ready(sizeContent);

            //Every resize of window
            $(window).resize(sizeContent);

            new ResizeSensor($('.form-content'), function(){ 
                sizeContent();
            });

            //Dynamically assign height
            function sizeContent() {
                $("#fw-content").css("height", "auto");
                $("#fw-content-wrapper").css("height", "auto");
                $("#fw-content-body").css("height","auto");                
                if ($("#fw-content").height() + 157 <= $(window).height()) {
                    $("#fw-content").css("height", $(window).height() - 157 + "px");
                    $("#fw-content-wrapper").css("height", $(window).height() - 157 + "px");
                    $("#fw-content-body").css("height", $(window).height() - 167 + "px");
                } else {
                    $("#fw-content").css("height", "auto");
                    $("#fw-content-wrapper").css("height", "auto");
                    $("#fw-content-body").css("height","auto");
                }   
            }
            
            //]]>                
        </script>                    
    </h:body>   
</html>