<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="../private/navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel layout="block" styleClass="form-content">
                        <p:outputPanel layout="block" 
                                       id="admin-company-description"
                                       rendered="#{adminBean.companyDescriptionRendered}">
                            <div id="admin-company-description-image">
                                <h:graphicImage style="border: none;" 
                                                width="64"
                                                height="64"
                                                value="#{adminBean.companyLogoUrl}" />                    
                            </div>
                            <div id="admin-company-description-text">
                                <h:outputText value="#{adminBean.companyDescription}" escape="false" />
                            </div>
                        </p:outputPanel>
                        <p:tabView id="admin-tab-view" 
                                   styleClass="admin-tab-view" 
                                   dynamic="true"
                                   activeIndex="#{navigationBean.mainSelectedIndex}">
                            <p:ajax event="tabChange" listener="#{adminBean.onChange}" />
                            <p:tab id="companyTab" title="Companies" rendered="#{request.isUserInRole('Administration')}">
                                <ui:include src="company.xhtml"/>
                            </p:tab>                    
                            <p:tab id="storeTab" title="Stores">
                                <ui:include src="store.xhtml"/>
                            </p:tab>    
                            <p:tab id="userTab" title="Users">
                                <ui:include src="user.xhtml"/>
                            </p:tab>
                            <p:tab id="reportTab" title="Reports">
                                <ui:include src="report.xhtml"/>
                            </p:tab>                    
                        </p:tabView>
                    </p:outputPanel>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>                
            </div>
            <div style="clear:both;"></div>            
        </div>        
    </ui:define>
</ui:composition>

