<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel layout="block" styleClass="company-content">
        <p:dataTable id="company-table"
                     widgetVar="companyTable"
                     emptyMessage="No stores found."
                     var="company" 
                     value="#{companyBean.companies}"
                     rows="20"
                     styleClass="company-table"
                     paginator="true"
                     paginatorPosition="bottom"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="Displaying {startRecord} - {endRecord} of {totalRecords}"
                     rowsPerPageTemplate="10,20,50,100">
            <f:facet name="header">
                <h:outputText value="Companies" />
            </f:facet>
            <p:column headerText="Name">
                    <h:outputText value="#{company.description}" escape="false"/>
            </p:column>
            <p:column headerText="Logo">
                <h:graphicImage style="border: none;" 
                                width="32"
                                height="32"
                                value="#{companyBean.getCompanyLogoUrl(company)}" />
            </p:column>
            <p:column>
                <h:outputLink value="#{companyBean.getEditUrl(company)}">
                    <h:outputText value="Edit" escape="false"/>
                </h:outputLink>            
            </p:column>
        </p:dataTable>
        <div id="company-new">
            <h:outputLink value="#{companyBean.newPath}">
                <h:outputText value="Add Company" escape="false"/>
            </h:outputLink>                
        </div>        
    </p:outputPanel>    
</ui:composition>

