<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel layout="block" styleClass="report-content">
        <h:form id="report-form">
            
            
            <p:outputPanel layout="block" id="reports-dropdown" styleClass="reports-dropdown" rendered="#{!request.isUserInRole('Administration')}">
                <p:selectOneMenu id="report" value="#{reportBean.reportId}" style="width:300px">
                    <f:selectItem itemLabel="Select a report" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{reportBean.reportsDropdown}" />
                    <p:ajax listener="#{reportBean.displayReport}" update="report-display" />
                </p:selectOneMenu>
            </p:outputPanel>            
            
            
            
            <p:outputPanel layout="block" id="report-div-wrapper" rendered="#{request.isUserInRole('Administration')}">
                <div id="report-div"></div>
            </p:outputPanel>
            <p:outputPanel layout="block" id="report-display-div-wrapper" rendered="#{!request.isUserInRole('Administration')}">
                <div id="report-display-div"></div>
            </p:outputPanel>            
            <p:blockUI block="report-div-wrapper" widgetVar="reportLoadingBui">
                Loading, please wait...
            </p:blockUI>
            <p:blockUI block="report-display-div-wrapper" widgetVar="reportDisplayLoadingBui">
                Loading, please wait...
            </p:blockUI>            
            <p:blockUI block="report-div-wrapper" widgetVar="reportSavingBui">
                Saving, please wait...
            </p:blockUI>
            
            
            
            <p:outputPanel rendered="#{!request.isUserInRole('Administration')}" 
                           layout="block" 
                           id="report-display">
                
                
                
                
                <script type="text/javascript">
                    //<![CDATA[
                    $(document).ready(function () {
                        setUpReportDisplay();
                        reportDisplayLoadingBui.show();
                        setTimeout(function () {
                            disableRefreshButton();
                        }, 1000);                        
                    });
                    
                    function setUpReportDisplay() {
#{reportBean.reportDisplayJavascript}                        
                    }
                    
                    // Method that changes the refresh button to type=button, instead
                    // of type=submit
                    function disableRefreshButton() {
                        $(".jsreports-inputs-run").attr("type", "button");
                        reportDisplayLoadingBui.hide();
                    }                    

                    //]]>                
                </script>        
            </p:outputPanel>            
            
            
            
            
            <p:outputPanel rendered="#{request.isUserInRole('Administration')}" 
                           layout="block" 
                           id="report-designer">
                <script type="text/javascript">
                    //<![CDATA[
                    $(document).ready(function () {
                        setUpReportBuilder();
                        reportLoadingBui.show();
                        setTimeout(function () {
                            disableNewButton();
                        }, 1000);
                    });
                    
                    // Method that changes the new button to type=button, instead
                    // of type=submit
                    function disableNewButton() {
                        $(".jsr-plugin-reportlist-new").attr("type", "button");
                        reportLoadingBui.hide();
                    }

                    function setUpReportBuilder() {
#{reportBean.reportDesignerJavascript}
                    }

                    //]]>                
                </script>        
            </p:outputPanel>
            <p:remoteCommand rendered="#{request.isUserInRole('Administration')}"
                             onstart="reportSavingBui.show();"
                             name="saveReport"
                             async="true"
                             actionListener="#{reportBean.saveReport()}"
                             process="@form"                                         
                             update="report-designer"
                             oncomplete="reportSavingBui.hide();"/>
            
        </h:form>
    </p:outputPanel>    
</ui:composition>

