<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel layout="block" styleClass="store-content">
        <p:dataTable id="store-table"
                     widgetVar="storeTable"
                     emptyMessage="No stores found."
                     var="store" 
                     value="#{storeBean.stores}"
                     rows="20"
                     styleClass="store-table"
                     paginator="true"
                     paginatorPosition="bottom"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="Displaying {startRecord} - {endRecord} of {totalRecords}"
                     rowsPerPageTemplate="10,20,50,100">
            <f:facet name="header">
                <h:outputText value="Stores" />
            </f:facet>
            <p:column headerText="Name">
                <h:outputLink value="#{storeBean.basePath}/#{store.id}">
                    <h:outputText value="#{store.description}" escape="false"/>
                </h:outputLink>                
            </p:column>
            <p:column headerText="Address">
                <h:outputText rendered="#{store.address2 ne null}" value="#{store.address1}, #{store.address2}" escape="false" />
                <h:outputText rendered="#{store.address2 eq null}" value="#{store.address1}" escape="false" />
            </p:column>                    
            <p:column headerText="City/State">
                <h:outputText value="#{store.city}, #{store.state}" escape="false" />
            </p:column>                    
            <p:column>
                <h:outputLink value="#{storeBean.getEditUrl(store)}">
                    <h:outputText value="Edit" escape="false"/>
                </h:outputLink>            
            </p:column>
        </p:dataTable>
        <div id="store-new">
            <h:outputLink value="#{storeBean.newPath}">
                <h:outputText value="Add Store" escape="false"/>
            </h:outputLink>
        </div>
        <div id="store-bulk">
            <h:outputLink value="#{storeBean.bulkPath}">
                <h:outputText value="Add Bulk Stores" escape="false"/>
            </h:outputLink>            
        </div>
    </p:outputPanel>    
</ui:composition>

