<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:outputPanel layout="block" styleClass="user-content">
        <p:dataTable id="user-table"
                     widgetVar="userTable"
                     emptyMessage="No users found."
                     var="user" 
                     value="#{userBean.users}"
                     rows="20"
                     styleClass="user-table"
                     paginator="true"
                     paginatorPosition="bottom"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="Displaying {startRecord} - {endRecord} of {totalRecords}"
                     rowsPerPageTemplate="10,20,50,100">
            <f:facet name="header">
                <h:outputText value="User" />
            </f:facet>
            <p:column headerText="Username">
                <h:outputText value="#{user.userName}" escape="false" />
            </p:column>
            <p:column headerText="Role" rendered="#{request.isUserInRole('Administration')}">
                <h:outputText value="#{userBean.getRole(user)}" escape="false" />
            </p:column>            
            <p:column headerText="First Name">
                <h:outputText value="#{user.firstName}" escape="false" />
            </p:column>                    
            <p:column headerText="Last Name">
                <h:outputText value="#{user.lastName}" escape="false" />
            </p:column>
            <p:column headerText="Store" rendered="#{request.isUserInRole('Corporate')}">
                <h:outputText value="#{userBean.getStoreAddress(user)}" escape="false" />
            </p:column>            
            <p:column headerText="Email Address">
                <h:outputText value="#{user.emailAddress}" escape="false" />
            </p:column>
            <p:column headerText="Network" rendered="#{request.isUserInRole('Administration')}">
                <h:outputText value="#{userBean.getNetwork(user)}" escape="false" />
            </p:column>
            <p:column headerText="Network Uid" rendered="#{request.isUserInRole('Administration')}">
                <h:outputText value="#{userBean.getUid(user)}" escape="false" />
            </p:column>
            <p:column headerText="Profile Pic" rendered="#{request.isUserInRole('Administration')}">
                <h:graphicImage rendered="#{userBean.getProfilePictureUrl(user) ne null}"
                                style="border: none;" 
                                width="32"
                                height="32"
                                value="#{userBean.getProfilePictureUrl(user)}" />
            </p:column>
            <p:column>
                <h:outputLink value="#{userBean.getEditUrl(user)}" rendered="#{userBean.getNetwork(user) eq null}">
                    <h:outputText value="Edit" escape="false"/>
                </h:outputLink>            
            </p:column>            
        </p:dataTable>
        <div id="user-new">
            <h:outputLink value="#{userBean.newPath}">
                <h:outputText value="Add User" escape="false"/>
            </h:outputLink>                
        </div>        
    </p:outputPanel>
</ui:composition>

