<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="../../private/navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel id="config-store" layout="block" styleClass="form-content">
                        <h:form id="config-bulk-store-form" enctype="multipart/form-data">
                            
                            <!-- Messages -->
                            
                            <div id="messages-container">
                                <div id="messages">
                                    <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                                </div>
                            </div>
                            
                            <!-- Back -->
                            <div id="config-back">
                                <h:outputLink value="#{configBulkStoreBean.backUrl}">
                                    <h:outputText value="Back" escape="false"/>
                                </h:outputLink>                                
                            </div>                            
                            
                            <!-- Header -->
                            
                            <div class="admin-title-panel">
                                Bulk Store
                            </div>
                            
                            <!-- Company -->
                            
                            <p:outputPanel layout="block" id ="company-panel" styleClass="company-panel" rendered="#{request.isUserInRole('Administration')}">
                                <div id="company-label" class="label">* Company:</div>
                                <div id="company-value">                                
                                    <h:selectOneMenu id="company" styleClass="#{configBulkStoreBean.companyStyle}" value="#{configBulkStoreBean.companyId}">
                                        <f:selectItem itemLabel="Select a company" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{configBulkStoreBean.companiesDropdown}" />
                                    </h:selectOneMenu>
                                </div>    
                            </p:outputPanel>
                            
                            <p:outputPanel layout="block" id="file-panel" styleClass="file-panel">
                                <div id="file-label" class="label">* File:</div>
                                <p:outputPanel layout="block" id="file-value" styleClass="file-value" rendered="#{configBulkStoreBean.fileName ne null}">
                                    <h:outputText id="file-name" value="#{configBulkStoreBean.fileName}" />
                                </p:outputPanel>    
                                <p:fileUpload fileUploadListener="#{configBulkStoreBean.handleFileUpload}" 
                                              mode="advanced"
                                              dragDropSupport="false"
                                              sizeLimit="500000" 
                                              fileLimit="1" 
                                              allowTypes="/(\.|\/)(csv)$/" 
                                              update="file-panel"/>                                
                            </p:outputPanel>                            
                            
                            <!-- Button(s) -->
                            
                            <div id="button-panel">
                                <p:commandButton id="store-save" 
                                                 value="Save"
                                                 onclick="configBulkStoreBui.show();"
                                                 process="@form"
                                                 actionListener="#{configBulkStoreBean.form2Data}" 
                                                 update="config-store"
                                                 oncomplete="configBulkStoreBui.hide();"/>
                            </div>                            
                            
                            <!-- Required Note -->
                            
                            <div class="required-note">
                                * Denotes required field
                            </div>
                            
                            <!-- Saving Block UI -->
                            
                            <p:blockUI block="config-store" widgetVar="configBulkStoreBui">
                                Saving, please wait...
                            </p:blockUI>                                                        
                            
                        </h:form>    
                    </p:outputPanel>
                    <div style="clear:both;"></div>
                </div>                    
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>        
    </ui:define>
</ui:composition>

