<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="../../private/navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel id="config-user" layout="block" styleClass="form-content">
                        <h:form id="config-user-form">
                            
                            <!-- Messages -->
                            
                            <div id="messages-container">
                                <div id="messages">
                                    <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                                </div>
                            </div>
                            
                            <!-- Back -->
                            <div id="config-back">
                                <h:outputLink value="#{configUserBean.backUrl}">
                                    <h:outputText value="Back" escape="false"/>
                                </h:outputLink>                                
                            </div>                            
                            
                            <!-- Header -->
                            
                            <div class="admin-title-panel">
                                User
                            </div>
                            
                            <!-- Username -->
                            
                            <div id="username-panel">
                                <div id="username-label" class="label">* Username:</div>
                                <div id="username-value">
                                    <h:inputText rendered="#{configUserBean.userId eq null}"
                                                 id="username-input" 
                                                 styleClass="#{configUserBean.usernameStyle}" 
                                                 size="40" maxlength="50" 
                                                 value="#{configUserBean.username}" />
                                    <h:outputText rendered= "#{configUserBean.userId ne null}"
                                                  styleClass="username-existing"
                                                  value="#{configUserBean.username}"
                                                  escape="false" />
                                </div>    
                            </div>
                            
                            <!-- Password -->
                            
                            <p:outputPanel rendered="#{configUserBean.userId eq null}"
                                           layout="block" 
                                           id="password-panel" 
                                           styleClass="password-panel">
                                <div id="password-label" class="label">* Password:</div>
                                <div id="password-value">
                                    <h:inputSecret id="password-input" 
                                                 styleClass="#{configUserBean.passwordStyle}" 
                                                 size="40" maxlength="50" 
                                                 value="#{configUserBean.password}" />
                                </div>    
                            </p:outputPanel>
                            
                            <!-- Password Confirm -->
                            
                            <p:outputPanel rendered="#{configUserBean.userId eq null}"
                                           layout="block" 
                                           id="password-confirm-panel" 
                                           styleClass="password-confirm-panel">
                                <div id="password-confirm-label" class="label">* Password Confirm:</div>
                                <div id="password-confirm-value">
                                    <h:inputSecret id="password-confirm-input" 
                                                 styleClass="#{configUserBean.passwordConfirmStyle}" 
                                                 size="40" maxlength="50" 
                                                 value="#{configUserBean.passwordConfirm}" />
                                </div>    
                            </p:outputPanel>                            
                            
                            <!-- First Name -->
                            
                            <div id="first-name-panel">
                                <div id="first-name-label" class="label">* First Name:</div>
                                <div id="first-name-value">
                                    <h:inputText id="first-name-input" 
                                                 styleClass="#{configUserBean.firstNameStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configUserBean.firstName}" />
                                </div>    
                            </div>                            
                            
                            <!-- Last Name -->
                            
                            <div id="last-name-panel">
                                <div id="last-name-label" class="label">* Last Name:</div>
                                <div id="last-name-value">
                                    <h:inputText id="last-name-input" 
                                                 styleClass="#{configUserBean.lastNameStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configUserBean.lastName}" />
                                </div>    
                            </div>                                                        
                            
                            <!-- Email -->
                            
                            <div id="email-panel">
                                <div id="email-label" class="label">* Email Address:</div>
                                <div id="email-value">
                                    <h:inputText id="email-input" 
                                                 styleClass="#{configUserBean.emailStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configUserBean.email}" />
                                </div>    
                            </div>
                            
                            <!-- Type -->
                            
                            <p:outputPanel layout="block" id ="role-panel" styleClass="role-panel" rendered="#{request.isUserInRole('Administration')}">
                                <div id="role-label" class="label">* Type:</div>
                                <div id="role-value">                                
                                    <h:selectOneMenu id="role" styleClass="#{configUserBean.roleStyle}" value="#{configUserBean.roleId}">
                                        <f:selectItem itemLabel="Select a type" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{configUserBean.rolesDropdown}" />
                                        <p:ajax process="@this" listener="#{configUserBean.processTypeChoice}" update="companies-container stores-container" />
                                    </h:selectOneMenu>
                                </div>    
                            </p:outputPanel>                            
                            
                            <!-- Companies -->
                            
                            <p:outputPanel layout="block" id="companies-container">
                                <p:outputPanel layout="block" id ="company-panel" styleClass="company-panel" rendered="#{configUserBean.companiesPanelRendered}">
                                    <div id="company-label" class="label">* Company:</div>
                                    <div id="company-value">                                   
                                        <h:selectOneMenu id="company" styleClass="#{configUserBean.companyStyle}" value="#{configUserBean.companyId}">
                                            <f:selectItem itemLabel="Select a company" itemValue="" noSelectionOption="true" />
                                            <f:selectItems value="#{configUserBean.companiesDropdown}" />
                                            <p:ajax process="@this" listener="#{configUserBean.processCompanyChoice}" update="stores-container" />
                                        </h:selectOneMenu>
                                    </div>    
                                </p:outputPanel>                            
                            </p:outputPanel>

                            <!-- Stores -->
                            
                            <p:outputPanel layout="block" id="stores-container">
                                <p:outputPanel layout="block" id ="store-panel" styleClass="store-panel" rendered="#{configUserBean.storesPanelRendered}">
                                    <div id="store-label" class="label">* Store:</div>
                                    <div id="store-value">                                   
                                        <h:selectOneMenu id="store" styleClass="#{configUserBean.storeStyle}" value="#{configUserBean.storeId}">
                                            <f:selectItem itemLabel="Select a store" itemValue="" noSelectionOption="true" />
                                            <f:selectItems value="#{configUserBean.storesDropdown}" />
                                        </h:selectOneMenu>
                                    </div>    
                                </p:outputPanel>                            
                            </p:outputPanel>    

                            <!-- Button(s) -->
                            
                            <div id="button-panel">
                                <p:commandButton id="user-save" 
                                                 value="Save"
                                                 onclick="configUserBui.show();"
                                                 process="@form"
                                                 actionListener="#{configUserBean.form2Data}" 
                                                 update="config-user"
                                                 oncomplete="configUserBui.hide();"/>
                            </div>                            
                            
                            <!-- Required Note -->
                            
                            <div class="required-note">
                                * Denotes required field
                            </div>
                            
                            <!-- Saving Block UI -->
                            
                            <p:blockUI block="config-user" widgetVar="configUserBui">
                                Saving, please wait...
                            </p:blockUI>                                                        
                            
                        </h:form>    
                    </p:outputPanel>
                    <div style="clear:both;"></div>
                </div>                    
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>        
    </ui:define>
</ui:composition>

