<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="../../private/navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel id="config-company" layout="block" styleClass="form-content">
                        <h:form id="config-company-form" enctype="multipart/form-data">
                            
                            <!-- Messages -->
                            
                            <div id="messages-container">
                                <div id="messages">
                                    <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                                </div>
                            </div>                            
                            
                            <!-- Back -->
                            <div id="config-back">
                                <h:outputLink value="#{configCompanyBean.backUrl}">
                                    <h:outputText value="Back" escape="false"/>
                                </h:outputLink>                                
                            </div>
                            
                            <!-- Header -->
                            
                            <div class="admin-title-panel">
                                Company
                            </div>
                            
                            <!-- Logo -->
                            
                            <p:outputPanel layout="block" id="logo-panel" styleClass="logo-panel">
                                <div id="logo-label" class="label">* Logo:</div>
                                <p:outputPanel layout="block" id="logo-value" rendered="#{configCompanyBean.logoId ne null}">
                                    <h:inputHidden id="logo-id" value="#{configCompanyBean.logoId}" />
                                    <h:graphicImage style="border: none;" 
                                                    width="64"
                                                    height="64"
                                                    value="#{configCompanyBean.logoUrl}" />
                                </p:outputPanel>    
                                <p:fileUpload fileUploadListener="#{configCompanyBean.handleFileUpload}" 
                                              mode="advanced" 
                                              dragDropSupport="false"
                                              sizeLimit="500000" 
                                              fileLimit="1" 
                                              allowTypes="/(\.|\/)(jpe?g)$/" 
                                              update="logo-panel"/>                                
                            </p:outputPanel>                            
 
                            <!-- Description -->
                            
                            <div id="description-panel">
                                <div id="description-label" class="label">* Name:</div>
                                <div id="description-value">
                                    <h:inputText id="description-input" 
                                                 styleClass="#{configCompanyBean.descriptionStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configCompanyBean.description}" />
                                </div>    
                            </div>
                            
                            <!-- Phone -->
                            
                            <div id="phone-panel">
                                <div id="phone-label" class="label">Corporate Phone:</div>
                                <div id="phone-value">
                                    <h:inputText id="phone-input" 
                                                 styleClass="#{configCompanyBean.phoneStyle}" 
                                                 size="30" maxlength="50" 
                                                 value="#{configCompanyBean.phone}" />
                                </div>    
                            </div>
                            
                            <!-- Web Address -->
                            
                            <div id="web-panel">
                                <div id="web-label" class="label">Web Address:</div>
                                <div id="web-value">
                                    <h:inputText id="web-input" 
                                                 styleClass="#{configCompanyBean.webAddressStyle}" 
                                                 size="60" maxlength="100" 
                                                 value="#{configCompanyBean.webAddress}" />
                                </div>    
                            </div>                            
                            
                            <!-- Facebook Address -->
                            
                            <div id="facebook-panel">
                                <div id="facebook-label" class="label">Facebook Address:</div>
                                <div id="facebook-value">
                                    <h:inputText id="facebook-input" 
                                                 styleClass="#{configCompanyBean.facebookAddressStyle}" 
                                                 size="60" maxlength="100" 
                                                 value="#{configCompanyBean.facebookAddress}" />
                                </div>    
                            </div>
                            
                            <!-- Twitter Handle -->
                            
                            <div id="twitter-panel">
                                <div id="twitter-label" class="label">Twitter Handle:</div>
                                <div id="twitter-value">
                                    <h:inputText id="twitter-input" 
                                                 styleClass="#{configCompanyBean.twitterHandleStyle}" 
                                                 size="60" maxlength="100" 
                                                 value="#{configCompanyBean.twitterHandle}" />
                                </div>    
                            </div>                            
                            
                            <!-- Buttons -->
                            
                            <div id="button-panel">
                                <p:commandButton id="company-save" 
                                                 value="Save"
                                                 onclick="configCompanyBui.show();"
                                                 process="@form"
                                                 actionListener="#{configCompanyBean.form2Data}" 
                                                 update="config-company"
                                                 oncomplete="configCompanyBui.hide();"/>
                            </div>
                            
                            <!-- Required Note -->
                            
                            <div class="required-note">
                                * Denotes required field
                            </div>
                            
                            <!-- Saving Block UI -->
                            
                            <p:blockUI block="config-company" widgetVar="configCompanyBui">
                                Saving, please wait...
                            </p:blockUI>                            
                            
                        </h:form>    
                    </p:outputPanel>
                    <div style="clear:both;"></div>
                </div>                    
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>        
    </ui:define>
</ui:composition>

