<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="../../private/navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel id="config-store" layout="block" styleClass="form-content">
                        <h:form id="config-store-form">
                            
                            <!-- Messages -->
                            
                            <div id="messages-container">
                                <div id="messages">
                                    <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                                </div>
                            </div>
                            
                            <!-- Back -->
                            <div id="config-back">
                                <h:outputLink value="#{configStoreBean.backUrl}">
                                    <h:outputText value="Back" escape="false"/>
                                </h:outputLink>                                
                            </div>                            
                            
                            <!-- Header -->
                            
                            <div class="admin-title-panel">
                                Store
                            </div>
                            
                            <!-- Company -->
                            
                            <p:outputPanel layout="block" id ="company-panel" styleClass="company-panel" rendered="#{request.isUserInRole('Administration')}">
                                <div id="company-label" class="label">* Company:</div>
                                <div id="company-value">                                
                                    <h:selectOneMenu id="company" styleClass="#{configStoreBean.companyStyle}" value="#{configStoreBean.companyId}">
                                        <f:selectItem itemLabel="Select a company" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{configStoreBean.companiesDropdown}" />
                                    </h:selectOneMenu>
                                </div>    
                            </p:outputPanel>                            
                            
                            <!-- Description -->
                            
                            <div id="description-panel">
                                <div id="description-label" class="label">* Description:</div>
                                <div id="description-value">
                                    <h:inputText id="description-input" 
                                                 styleClass="#{configStoreBean.descriptionStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configStoreBean.description}" />
                                </div>    
                            </div>
                            
                            <!-- Address 1 -->
                            
                            <div class="address-panel">
                                <div id="address1-label" class="label">* Address 1:</div>
                                <div id="address1-value">
                                    <h:inputText id="address1-input" 
                                                 styleClass="#{configStoreBean.address1Style}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configStoreBean.address1}" />
                                </div>    
                            </div>            
                            
                            <!-- Address 1 -->
                            
                            <div class="address-panel">
                                <div id="address2-label" class="label">Address 2:</div>
                                <div id="address2-value">
                                    <h:inputText id="address2-input" 
                                                 styleClass="#{configStoreBean.address2Style}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configStoreBean.address2}" />
                                </div>    
                            </div>                            
                            
                            <!-- City -->
                            
                            <div id="city-panel">
                                <div id="city-label" class="label">* City:</div>
                                <div id="city-value">
                                    <h:inputText id="city-input" 
                                                 styleClass="#{configStoreBean.cityStyle}" 
                                                 size="50" maxlength="100" 
                                                 value="#{configStoreBean.city}" />
                                </div>    
                            </div>                            
                            
                            <!-- State -->
                            
                            <div id ="state-panel">
                                <div id="state-label" class="label">State:</div>
                                <div id="state-value">                                
                                    <h:selectOneMenu id="state" styleClass="#{configStoreBean.stateStyle}" value="#{configStoreBean.state}">
                                        <f:selectItem itemLabel="Select a state" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{configStoreBean.statesDropdown}" />
                                    </h:selectOneMenu>
                                </div>    
                            </div>
                            
                            <!-- Country -->
                            
                            <div id ="country-panel">
                                <div id="country-label" class="label">* Country:</div>
                                <div id="country-value">                                
                                    <h:selectOneMenu id="country" styleClass="#{configStoreBean.countryStyle}" value="#{configStoreBean.country}">
                                        <f:selectItem itemLabel="Select a country" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{configStoreBean.countriesDropdown}" />
                                    </h:selectOneMenu>
                                </div>    
                            </div>                            
                            
                            <!-- Postal Code -->
                            
                            <div id="postal-panel">
                                <div id="postal-label" class="label">* Postal Code:</div>
                                <div id="postal-value">
                                    <h:inputText id="postal-input" 
                                                 styleClass="#{configStoreBean.postalCodeStyle}" 
                                                 size="20" maxlength="20" 
                                                 value="#{configStoreBean.postalCode}" />
                                </div>    
                            </div>                            
                            
                            <!-- Phone -->
                            
                            <div id="phone-panel">
                                <div id="phone-label" class="label">Phone:</div>
                                <div id="phone-value">
                                    <h:inputText id="phone-input" 
                                                 styleClass="#{configStoreBean.phoneStyle}" 
                                                 size="30" maxlength="50" 
                                                 value="#{configStoreBean.phone}" />
                                </div>    
                            </div>                                                        
                            
                            <!-- Latitude -->
                            
                            <div id="coordinates-panel">
                                <div id="latitude-panel">
                                    <div id="latitude-label" class="label">* Latitude:</div>
                                    <div id="latitude-value">
                                        <h:inputText id="latitude-input" 
                                                     styleClass="#{configStoreBean.latitudeStyle}" 
                                                     size="20" maxlength="20" 
                                                     value="#{configStoreBean.latitude}" />
                                    </div>    
                                </div>                            
                            
                                <!-- Longitude -->
                            
                                <div id="longitude-panel">
                                    <div id="longitude-label" class="label">* Longitude:</div>
                                    <div id="logitude-value">
                                        <h:inputText id="longitude-input" 
                                                     styleClass="#{configStoreBean.longitudeStyle}" 
                                                     size="20" maxlength="20" 
                                                     value="#{configStoreBean.longitude}" />
                                    </div>    
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            
                            <!-- Button(s) -->
                            
                            <div id="button-panel">
                                <p:commandButton id="store-save" 
                                                 value="Save"
                                                 onclick="configStoreBui.show();"
                                                 process="@form"
                                                 actionListener="#{configStoreBean.form2Data}" 
                                                 update="config-store"
                                                 oncomplete="configStoreBui.hide();"/>
                            </div>                            
                            
                            <!-- Required Note -->
                            
                            <div class="required-note">
                                * Denotes required field
                            </div>
                            
                            <!-- Saving Block UI -->
                            
                            <p:blockUI block="config-store" widgetVar="configStoreBui">
                                Saving, please wait...
                            </p:blockUI>                                                        
                            
                        </h:form>    
                    </p:outputPanel>
                    <div style="clear:both;"></div>
                </div>                    
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>        
    </ui:define>
</ui:composition>

