<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.adminInitialize}"/>
        </f:metadata>        
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel id="change-password" layout="block" styleClass="form-content">
                        <h:form id="change-password-form">

                            <!-- Messages -->

                            <div id="messages">
                                <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                            </div>                            

                            <!-- Header -->

                            <div class="settings-title-panel">
                                Change Password
                            </div>


                            <!-- Username -->

                            <div id="change-password-username-panel">
                                <div id="username-label" class="label">Username: </div>
                                <div id="username-value">
                                    <h:outputText styleClass="username-existing" value="#{changePassword.username}"/>
                                </div>
                            </div>

                            <!-- Current Password -->

                            <div id="password-panel">
                                <div class="label">*Password: </div>
                                <div id="password-value">
                                    <h:inputSecret id="password-input" value="#{changePassword.password}" styleClass="#{changePassword.passwordStyle}" size="40" maxlength="50"/>
                                </div>
                            </div>

                            <!-- New Password -->

                            <div id="new-password-panel">
                                <div class="label">*New Password: </div>
                                <div id="new-password-value">
                                    <h:inputSecret id="new-password-input" value="#{changePassword.newPassword}" styleClass="#{changePassword.newPasswordStyle}" size="40" maxlength="50"/>
                                </div>
                            </div>

                            <!-- Confirm New Password -->

                            <div id="confirm-new-password-panel">
                                <div class="label">*Confirm New Password: </div>
                                <div id="confirm-new-password-value">
                                    <h:inputSecret id="confirm-new-password-input" value="#{changePassword.newPasswordConfirm}" styleClass="#{changePassword.newPasswordConfirmStyle}" maxlength="30"/>
                                </div>
                            </div>                

                            <!-- Buttons -->

                            <div id="button-panel">

                                <!-- Cancel Button -->

                                <div id="change-password-panel-buttons-cancel">
                                    <p:commandButton id="change-password-panel-buttons-cancel-submit" 
                                                     action="#{changePassword.cancel}" 
                                                     value="Cancel"
                                                     immediate="true"/>
                                </div>                                        

                                <!-- Save Button -->

                                <div id="change-password-panel-buttons-save">
                                    <p:commandButton id="change-password-panel-buttons-save-submit" 
                                                     action="#{changePassword.form2Data}" 
                                                     update="change-password"
                                                     value="Save"/>
                                </div>

                            </div>
                            
                            <!-- Required Note -->
                            
                            <div class="required-note change-password-clear">
                                * Denotes required field
                            </div>                            
                            
                            <div style="clear:both;"></div>
                        </h:form>
                    </p:outputPanel>                    
                </div>                    
            </div>	
        </div>        
    </ui:define>
</ui:composition>

