<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="navigation-form">
        <p:outputPanel layout="block" id="navigation-content" styleClass="navigation-content">
            <p:tabMenu id="navigation-tab-menu" activeIndex="#{navigationBean.mainSelectedIndex}" >
                <p:menuitem id="settingsTabDropdown" styleClass="navigation-menuitem-settings" value="Settings" />
                <p:menuitem id="adminTabDropdown" value="Logout" action="#{navigationBean.logout}" />
            </p:tabMenu>            
        </p:outputPanel>
    </h:form>
    
    
    
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            setUpNavQtips();
        });
        
        function setUpNavQtips() {

            // Settings dropdown
            $('.navigation-menuitem-settings').qtip({
                show: 'click',
                hide: 'click',
                position: {
                    my: 'top left',
                    at: 'bottom left',
                    target: $('.navigation-menuitem-settings'),
                    adjust: {
                        y: 12,
                        x: -52
                    }                    
                },
                style: {
                    border: {width: 1,
                        radius: 0},
                    width: {min: 168,
                        max: 350},
                    textAlign: 'left',
                    tip: false,
                    def: false,
                    classes: ' qtip-plain qtip-shadow navigation-menuitem-dropdown'
                },
                content: '#{settings.settingsDropdown}'
            });
            
        }
        //]]>                
    </script>    
    
    
</ui:composition>

