<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.adminInitialize}"/>
        </f:metadata>        
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
                <ui:include src="navigation.xhtml"/>
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel layout="block" styleClass="form-content">
                        <h:form id="store-details-form">
                            <div id="store-details">
                                <p:outputPanel rendered="#{request.isUserInRole('Administration') or request.isUserInRole('Corporate')}" 
                                               layout="block" 
                                               id="store-details-back" 
                                               styleClass="store-details-back">
                                    <h:outputLink value="#{storeDetailsBean.backUrl}">
                                        <h:outputText value="Back" escape="false"/>
                                    </h:outputLink>                                
                                </p:outputPanel>                                
                                <p:panel toggleable="false" 
                                         collapsed="false"
                                         styleClass="store-details-panel">
                                    <f:facet name="header">
                                        <h:outputText value="#{storeDetailsBean.store.description}" escape="false"/>
                                    </f:facet> 
                                    <div id="store-details-info">
                                        <h:outputText value="#{storeDetailsBean.store.address1}" escape="false"/><br/>
                                        <h:outputText value="#{storeDetailsBean.store.address2}" escape="false"/><br/>
                                        <h:outputText value="#{storeDetailsBean.store.city}, #{storeDetailsBean.store.state} #{storeDetailsBean.store.postalCode}" escape="false"/><br/>
                                        <h:outputText value="#{storeDetailsBean.store.country}" escape="false"/><br/>
                                        <h:outputText value="#{storeDetailsBean.store.latitude}, #{storeDetailsBean.store.longitude}" escape="false"/><br/>
                                    </div>

                                    <!-- Manager Status -->

                                    <div id="store-details-manager-status">
                                        <p:dataTable id="store-manager-status-table"
                                                     emptyMessage="No manager information"
                                                     var="userStore"
                                                     value="#{storeDetailsBean.store.userStoresList}"
                                                     rows="0">
                                            <f:facet name="header">
                                                <h:outputText value="Manager Status" />
                                            </f:facet>                                
                                            <p:column headerText="Name">
                                                <h:outputText value="#{userStore.userId.firstName} #{userStore.userId.lastName}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Status">
                                                <p:outputPanel layout="block" rendered="#{userStore.onDuty != 1}">
                                                    <input type="checkbox" disabled="disabled" class="ios"/>
                                                </p:outputPanel>
                                                <p:outputPanel layout="block" rendered="#{userStore.onDuty == 1}">
                                                    <input type="checkbox" checked="checked" disabled="disabled" class="ios"/>
                                                </p:outputPanel>                                    
                                            </p:column>                                
                                        </p:dataTable>                            
                                    </div>

                                    <!-- Unresolved Flares -->

                                    <div id="store-details-unresolved-flares">
                                        <p:dataTable id="store-unresolved-flares-table"
                                                     emptyMessage="No unresolved flares"
                                                     var="flare"
                                                     value="#{storeDetailsBean.unresolvedFlares}"
                                                     rows="0">
                                            <f:facet name="header">
                                                <h:outputText value="Today's Unresolved Flares" />
                                            </f:facet>                                
                                            <p:column headerText="Customer Username">
                                                <h:outputText value="#{flare.customerUserId.username}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Manager Username">
                                                <h:outputText value="#{flare.managerUserId.username}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Initial Text">
                                                <h:outputText value="#{flare.customerText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Initial Response">
                                                <h:outputText value="#{flare.managerText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Followup Text">
                                                <h:outputText value="#{flare.customerFollowupText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Followup Response">
                                                <h:outputText value="#{flare.managerFollowupText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Created At">
                                                <h:outputText value="#{flare.createdAt}" escape="false" />
                                            </p:column>                                
                                        </p:dataTable>                            
                                    </div>

                                    <!-- Resolved Flares -->

                                    <div id="store-details-resolved-flares">
                                        <p:dataTable id="store-resolved-flares-table"
                                                     emptyMessage="No resolved flares"
                                                     var="flare"
                                                     value="#{storeDetailsBean.resolvedFlares}"
                                                     rows="0">
                                            <f:facet name="header">
                                                <h:outputText value="Today's Resolved Flares" />
                                            </f:facet>                                                                
                                            <p:column headerText="Customer Username">
                                                <h:outputText value="#{flare.customerUserId.username}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Manager Username">
                                                <h:outputText value="#{flare.managerUserId.username}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Initial Text">
                                                <h:outputText value="#{flare.customerText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Initial Response">
                                                <h:outputText value="#{flare.managerText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Followup Text">
                                                <h:outputText value="#{flare.customerFollowupText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Followup Response">
                                                <h:outputText value="#{flare.managerFollowupText}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Resolved At">
                                                <h:outputText value="#{flare.resolvedAt}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Rating">
                                                <h:outputText value="#{flare.resolvedStars}" escape="false" />
                                            </p:column>
                                            <p:column headerText="Feedback">
                                                <h:outputText value="#{flare.resolvedText}" escape="false" />
                                            </p:column>
                                        </p:dataTable>                            
                                    </div>                        
                                </p:panel>
                                <div style="clear:both;"></div>
                            </div>            
                            <div style="clear:both;"></div>
                        </h:form>
                    </p:outputPanel>                    
                </div>                    
            </div>	
        </div>        
        <script type="text/javascript">
            //<![CDATA[
            $(document).ready(function () {
                $(".ios").iosCheckbox();
            });
            //]]>                
        </script>            
    </ui:define>
</ui:composition>

