<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentTitle">
        Server Error
    </ui:define>    
    <ui:define name="errorContent">
        <h1><h:outputText styleClass="title" value="Server Error" /></h1>
    </ui:define>    
</ui:composition>
