<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentTitle">
        Maintenance Mode
    </ui:define>    
    <ui:define name="errorContent">
        <h1><h:outputText styleClass="title" value="HOBOlink is currently undergoing scheduled maintenance from #{maintenance.maintenanceModeTimeFrom} to #{maintenance.maintenanceModeTimeTo}." /></h1>
    </ui:define>
</ui:composition>
