<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentTitle">Session Expired</ui:define>
    <ui:define name="errorContent">
        <h1><h:outputText styleClass="title" value="Session Expired" /></h1>
        <p><a href="#{requestScope['javax.servlet.error.request_uri']}">Go back to the requested page.</a></p>
    </ui:define>
</ui:composition>