<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentTitle">General Error</ui:define>
</ui:composition>