<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <div id="fw-navigation">
            <div id="fw-navigation-wrapper">
            </div>        
        </div>    
        <div id="fw-content">
            <div id="fw-content-wrapper">
                <div id="fw-content-body">
                    <p:outputPanel layout="block" styleClass="form-content">
                        <h:form id="login-form">

                            <div id="messages-container">
                                <div id="messages">
                                    <p:messages showSummary="true" showDetail="true" autoUpdate="true" globalOnly="true"/>
                                </div>
                            </div>                    

                            <h:panelGrid columns="2" styleClass="login-table">
                                <h:outputLabel for="username" 
                                               styleClass="login-label"
                                               value="Username:" />
                                <h:inputText id="username"
                                             styleClass="valid-input"
                                             value="#{loginBean.username}"
                                             required="true" 
                                             label="Username" />

                                <h:outputLabel for="password" 
                                               styleClass="login-label"
                                               value="Password:" />
                                <h:inputSecret id="password"
                                               styleClass="valid-input"
                                               value="#{loginBean.password}"
                                               label="Password" />
                                <p:commandButton value="Login" 
                                                 action="#{loginBean.login}" 
                                                 process="@form"
                                                 ajax="false" />
                            </h:panelGrid>    
                        </h:form>                
                        <div id="apple-app-container">
                            <h:graphicImage library="images" name="apple_app.jpg" width="160" style="border: none;"/>
                        </div>
                        <div id="android-app-container">
                            <h:graphicImage library="images" name="android_app.jpg" width="160" style="border: none;"/>
                        </div>
                        <div style="clear:both;"></div>
                    </p:outputPanel>
                </div>                    
            </div>	
        </div>        
    </ui:define>
</ui:composition>

